<h2>Create Category</h2>

<form [formGroup]="form" (ngSubmit)="onSubmit()">

  <label>Category Name:</label>
  <input formControlName="categoryName" />
  <div *ngIf="form.get('categoryName')?.invalid && form.get('categoryName')?.touched" style="color:red;">
    <small *ngIf="form.get('categoryName')?.errors?.['required']">Required</small>
    <small *ngIf="form.get('categoryName')?.errors?.['maxlength']">Max 50 chars</small>
  </div>

  <button type="submit" [disabled]="form.invalid">Create</button>
  <button type="button" routerLink="/categories">Cancel</button>

</form>
